server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # ????????????????????????????????????????????????????????????
      # GLOBAL CORS CONFIGURATION
      # Allows the Angular/React frontend to call the gateway.
      # ????????????????????????????????????????????????????????????
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"    # Angular dev
              - "http://localhost:3000"    # React dev
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      
      # ????????????????????????????????????????????????????????????
      # DEFAULT FILTERS (applied to ALL routes)
      # ????????????????????????????????????????????????????????????
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
        - AddResponseHeader=X-Gateway-Service, bootcamp-api-gateway
      
      # ????????????????????????????????????????????????????????????
      # ROUTES
      # ????????????????????????????????????????????????????????????
      routes:
        
        # ?? MS-Technology (port 8081) ??
        - id: ms-technology
          uri: ${MS_TECHNOLOGY_URL:http://localhost:8081}
          predicates:
            - Path=/api/v1/technologies/**
        
        # ?? MS-Capacity (port 8082) ??
        - id: ms-capacity
          uri: ${MS_CAPACITY_URL:http://localhost:8082}
          predicates:
            - Path=/api/v1/capabilities/**
        
        # ?? MS-Bootcamp (port 8083) ??
        - id: ms-bootcamp
          uri: ${MS_BOOTCAMP_URL:http://localhost:8083}
          predicates:
            - Path=/api/v1/bootcamps/**
        
        # ?? MS-Person (port 8084) ??
        - id: ms-person
          uri: ${MS_PERSON_URL:http://localhost:8084}
          predicates:
            - Path=/api/v1/persons/**
        
        # ?? MS-Report (port 8085) ??
        - id: ms-report
          uri: ${MS_REPORT_URL:http://localhost:8085}
          predicates:
            - Path=/api/v1/reports/**

# ????????????????????????????????????????????????????????????
# ACTUATOR
# ????????????????????????????????????????????????????????????
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    io.github.resilience4j: DEBUG
    com.bootcamp.gateway: DEBUG
